<h2 class="text-30">Frequently Asked Questions</h2>
<div class="accordion -simple row y-gap-20 mt-30 js-accordion">

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Do we visit Bellagio on this tour?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">No, this tour does not go to Bellagio — and that’s a good thing.</p>
          <p class="mt-20">Yes, Bellagio is beautiful. But it’s also the most crowded, commercialized village on Lake Como. In high season — especially Sundays — it’s so packed you can barely walk.</p>
          <p class="mt-20">If you still want to visit Bellagio, we offer a separate small-group tour to Bellagio and Bellano — with a completely different approach. No big buses. No chaos. Just an unforgettable day.</p>
          <p class="mt-20">Whatever you do — avoid the mass-market bus tours to Bellagio and Lugano. You’ll spend over 5 hours stuck on the bus, get herded through overcrowded streets, and leave more stressed than amazed.</p>
          <p class="mt-20">Do it wrong, and you’ll regret it. Do it with us, and you’ll love every minute.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">What is the difference between this tour and others?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">Because on those tours, you don’t experience Lake Como — you just check the box.</p>
          <p class="mt-20">You’re rushed from one overcrowded stop to the next, crammed in with 40+ strangers, and when you finally arrive? It’s “You’ve got 30 minutes — grab a snack at some tourist trap and run back to the bus!”</p>
          <p class="mt-20">That’s not a tour. That’s survival.</p>
          <p class="mt-20">Most of those tours follow the same tired route — same spots, same photos, same crowd chaos. You don’t see the real Lake Como. You don’t feel it. You’re just herded through it like cattle.</p>
          <p class="mt-20"><b>Our tour is different.</b></p>
          <p class="mt-20">We skip the overhyped, overrun places. We go where the crowds don’t. You’ll have time to explore, breathe, ask questions, and actually enjoy a proper meal — not some reheated plate from a tourist trap.</p>
          <p class="mt-20">We don’t just take you there — we let you experience it. Big difference.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Is this suitable for kids?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">Recommended for ages 5 and up. Younger children may find it difficult to keep up with the pace of the tour.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Is it wheelchair or stroller accessible?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">There are several staircases and narrow cobblestone streets, so we do not recommend this tour for wheelchairs or strollers.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Can I cancel for free?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">Yes. You can cancel free of charge up to 24 hours before the tour starts.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">What if it rains?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">A little rain can be magical — fewer crowds and a more peaceful experience.</p>
          <p class="mt-20">If the weather is really bad, we’ll cancel and offer you other dates or a full refund.</p>
          <p class="mt-20">Just bring comfortable shoes and weather-appropriate clothing.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Do I pay less when booking directly on your website?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">YES! We sell on big marketplaces, but when you book here, you skip the middleman.</p>
          <p class="mt-20">That means a better price for you — and more support for our small, local business.</p>
          <p class="mt-20">You also get more flexible cancellation terms when booking directly with us.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Can I reserve now and pay later?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">Yes! You can reserve your spot now and pay nothing until 48 hours before the tour starts.</p>
          <p class="mt-20">Just choose the “zero deposit” option when you book.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Do you offer special rates for travel agents or agencies?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">Absolutely! Contact us at abroadstour@gmail.com or <a href="https://wa.me/+393208575909" target="_blank">WhatsApp us here</a>.</p>
          <p class="mt-20">We offer custom prices and commissions for partners.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="accordion__item px-20 py-15 border-1 rounded-12">
      <div class="accordion__button d-flex items-center justify-between">
        <div class="button text-16 text-dark-1">Is the payment safe?</div>
        <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
          <i class="icon-plus text-13"></i>
          <i class="icon-minus text-13"></i>
        </div>
      </div>
      <div class="accordion__content">
        <div class="pt-20">
          <p class="mt-20">Yes — 100% secure.</p>
          <p class="mt-20">We use Rezdy.com, one of the safest and most trusted platforms for booking tours and activities. All transactions are encrypted and protected.</p>
        </div>
      </div>
    </div>
  </div>
</div>

            <div class="line mt-40 mb-40"></div>

            <h2 class="text-30">Why are our tours the best rated from Milan on TripAdvisor, Viator & GetYourGuide?</h2>
            <p class="mt-20"><b>Because all the tours were created by an expert tour guide who was fed up with mass tourism.</b></p>
            <p class="mt-20">Hi, I’m Oleg. For years, I led large 50-person bilingual tours from Milan to Lake Como — long hours on a bus, rushing through crowded spots. It was exhausting and felt fake.</p>
            <p class="mt-20">We run small, personal tours. Yes, you’ll see the famous places — but we also take you off the beaten path to peaceful villages and hidden gems that big groups miss.</p>
            <p class="mt-20">Our guests give us 5 stars again and again because we offer what mass tourism can’t: real stories, local knowledge, and genuine connections.</p>

          <div class="line mt-40 mb-40"></div>